html {
  height: 100%;
}
body {
  justify-content: center;
  text-align: center;
  font-family: "Orbitron";
  overflow: auto;
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
}

#kitchen {
  background: -webkit-linear-gradient(#0056a2, #9fca3d );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: transparent;
}

#nav {
  background-color: #f89b33;
}

#navitem {
  background: -webkit-linear-gradient(#0056a2, #9fca3d );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: transparent;
}

#navitem:hover {
  transform: translateY(-5px);
}

.box {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;

}