html {
  height: 100%;
}
body {
  justify-content: center;
  text-align: center;
  font-family: "Orbitron";
  overflow: auto;
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
}

#kitchen {
  background: -webkit-linear-gradient(#0056a2, #9fca3d );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: transparent;
  text-shadow: 0 0 10px #9fca3d,
               0 0 20px #f89b33;
}

#nav {
  background: linear-gradient(to right, #0e0e1a, #1a1a2e);
  box-shadow: 0 0 10px #4c00ff, /* Cyan glow */
              0 0 20px #00ffff, /* Cyan glow */
              0 0 30px #4c00ff, /* Cyan glow */
              0 0 40px #00ffff, /* Cyan glow */
              0 0 50px #00ffff;
}

#logo {
  filter: drop-shadow(0 0 15px #00ffff);
}

#navitem {
  background: -webkit-linear-gradient(#0056a2, #9fca3d );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: transparent;
}

#navitem:hover {
  transform: translateY(-5px);
}

.box {
  /* display: flex; */
  justify-content: center;
  background: linear-gradient(45deg, #9fca3d, #f89b33);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px #00ffff, /* Cyan glow */
              0 0 20px #00ffff, /* Cyan glow */
              0 0 30px #00ffff, /* Cyan glow */
              0 0 40px #00ffff, /* Cyan glow */
              0 0 50px #00ffff;
}

#menuTop {
  text-shadow: 0 0 10px white,
               0 0 20px blue, 
               0 0 30px white; 
}

#category {
  text-shadow: 0 0 10px white,
               0 0 20px yellow, 
               0 0 30px white; 
}